.login-container {
    font-family: "Rubik";
    padding: 20px;
    max-width: 400px; 
    margin: 0 auto; 
    background-color: #f8f8f8;
  }
  
  .login-title {
    font-size: 1.8em;
    margin-bottom: 10px;
  }
  
  .login-description {
    margin-bottom: 20px;
    color: #666; /* Gray text */
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9em;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .login-button {
    background-color: #d4d4d4;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
  }